{"name":"e-wallets","slug":"e-wallets","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","newArchEnabled":true,"splash":{"image":"./assets/logo.png","resizeMode":"contain","backgroundColor":"#ffffff"},"ios":{"supportsTablet":true},"android":{"adaptiveIcon":{"foregroundImage":"./assets/logo.png","backgroundColor":"#ffffff"},"package":"com.ajay_wagh_dev.ewallets"},"web":{"favicon":"./assets/logo.png"},"plugins":["expo-sqlite"],"extra":{"eas":{"projectId":"8ea30924-8ddc-4cd8-9396-515cd71437c5"}},"sdkVersion":"52.0.0","platforms":["ios","android","web"]}